<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<properties>
		<property name="LOG_HOME">/log</property>
	</properties>
	<loggers>
		<root level="trace">
			<appender-ref ref="Console" />
		</root>
	</loggers>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT" />
			<PatternLayout pattern="[%-d{yyyy-MM-dd HH:mm:ss}] [%5p] %m  {at %c.%M(:%L)}%n" />
		</Console>
	</appenders>
</configuration>